<section class="about_section">
    <div class="real_section" id = "about">
        <h1>О компании</h1>
        <div class="appeal_block">
            <div class="appeal_img">
                <img src="img/2022-11-29.jpg" alt="">
            </div>
            <div class="appeal_text">
                Компания Глесс – это компания <span>нового формата</span>. У нас Вы можете приобрести практически все товары, необходимые в повседневной деятельности: от карандаша до сейфа. 
                <br><br>
                Мы уже работаем с большим количеством клиентов на территории Российской Федерации. 
                <br><br>
                <span>Нас знают:</span> ПАО Сбербанк, Газпромбанк (АО), Банк «Северный морской путь» (СМП-Банк), Управление Судебного департамента в Нижегородской области и другие заводы, офисы, производства. 
                <br><br>
                Нашими поставщиками являются <span>крупные заводы и предприятия</span>, которые следят за качеством своей продукции, и мы всегда на связи с ними в области улучшения потребительских характеристик товара.
            </div>
        </div>
        <div class="history_block" id = "history">
            <div class="history_timeline">
                <h2>Наша история</h2>
                <div class="timeline">
                    <div class="circle circle_active">
                        <div class="timeline_date">
                        2018
                    </div>
                </div> 
                <div class="line">
                    
                </div>
                    <div class="circle">
                        <div class="timeline_date">
                        2019
                    </div>
                </div>
                <div class="line">
                    
                </div>
                    <div class="circle">
                        <div class="timeline_date">
                        2020
                    </div>
                </div>
                <div class="line">
                    
                </div>
                    <div class="circle">
                        <div class="timeline_date">
                        2021 
                    </div>
                </div>
                <div class="line">
                    
                </div>
                    <div class="circle">
                        <div class="timeline_date">
                        2022
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="history_info">
            
        </div>
        <div class="our_works_block" id = "our_works">
            <h2>Наши работы</h2>
            <div class="works_block">
                <div class="work_slider">
                    <div class="sales_slider">
                        <div class="sales_slider_wrapper">
                            <div class="swiper_work">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="">
                                            <img src="img/IMG_20190823_094324.jpg" class = "sales_img" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="">
                                            <img src="img/IMG_20200415_113549.jpg" class = "sales_img" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work_slider">
                    <div class="sales_slider">
                        <div class="sales_slider_wrapper">
                            <div class="swiper_work">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="">
                                            <img src="img/IMG_20190823_094324.jpg" class = "sales_img" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="">
                                            <img src="img/IMG_20200415_113549.jpg" class = "sales_img" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gal_link">
                Больше работ в галерее
                <a href="/gallery">
                    <img src="img/link_w.svg" alt="">
                </a>
            </div>
        </div>
        <div class="news_block" id = "news">
            <h2>Полезные статьи</h2>
            <div class="last_news">
                <div class="new">
                    <a href="">
                        <img src="img/new_7.png" alt="">
                        <div class="black"></div>
                    </a>
                </div>
                <div class="new">
                    <a href=""> 
                        <img src="img/new_6.png" alt="">
                        <div class="black"></div>
                    </a>
                </div>
                <div class="new">
                    <a href="">
                        <img src="img/new_5.png" alt="">
                        <div class="black"></div>
                    </a>
                </div>
            </div>
            <a href="">
                <div class="all_news">
                    Смотреть все
                </div>
            </a>
        </div>
        <div class="our_clients" id = "our_clients">
            <div class="our_clients_top">
                <h2>Наши клиенты:</h2>
                <a href="">
                    <div class="thank_you_notes">
                        Благодарственные письма
                    </div>
                </a>
            </div>
            <div class="our_clients_bottom">
                <div class="clients_slider_wraper">
                                <!-- Slider main container -->
            <div class="swiper-clients"> 
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="">
                            <div class="client">
                                <img src="img/sber.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="client">
                                <img src="img/gerb_cdep.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="client">
                                <img src="img/gpb.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="client">
                                <img src="img/smp.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="client">
                                <img src="img/zSuiYp4YS3SrqOW3UNFl.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="client">
                                <img src="img/aviaser.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="client">
                                <img src="img/my_docs_header.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
        <div class="dop">
            <h2>Дополнительно:</h2>
            <a href="/gallery" id = "gal">
                <div class="dop_link gal">ГАЛЕРЕЯ</div>
            </a>
            <a href="" id = "blag" >
                <div class="dop_link blag">БЛАГОДАРНОСТИ И НАГРАДЫ</div>
            </a>
        </div>
    </div>
    <nav class="nav_about_section">
        <a href="#about">О компании</a>
        <a href="#our_works">Наши работы</a>
        <a href="#news">Статьи</a>
        <a href="#our_clients">Наши клиенты</a>
        <a href="#gal">Галерея</a>
        <a href="#blag">Благодарности и награды</a>
    </nav>
</section>