<section class="catalog_section">
    <a href = "" class="catalog_category">
        <div class="category_name">
            ТОВАРЫ ПО АКЦИИ
        </div>
        <div class="category_body sales_category"></div>
    </a>
    <div class="catalog_category">
        <a href = "items?category=сейфы"class="category_name">
            Сейфы
        </a>
        <div class="category_body">
            <img src="img/safe.jpg" alt="">
        </div>
    </div>
    <div class="catalog_category">
        <a href = "items?category=металлические_стеллажи"class="category_name">
            Металлические стеллажи
        </a>
        <div class="category_body">
            <img src="img/stellazi.jpg" alt="">
        </div>
    </div>
    <div class="catalog_category">
        <a href = "items?category=металлическая_мебель"class="category_name">
            Металлическая мебель
        </a>
        <div class="category_body">
            <img src="img/mm.jpg" alt="">
        </div>
    </div>
    <div class="catalog_category">
        <a href = "items?category=медицинская_мебель_и_изделия"class="category_name">
            Медицинская мебель и изделия
        </a>
        <div class="category_body">
            <img src="img/11bd5c6a0f0980c410798e781412a408.jpg" alt="">
        </div>
    </div>
    <div class="catalog_category">
        <a href = "items?category=производственная_мебель"class="category_name">
            Производственная мебель
        </a>
        <div class="category_body">
            <img src="img/profi_203_big.jpg" alt="">
        </div>
    </div>
    <div class="catalog_category">
        <a href = "items?category=офисная_мебель"class="category_name">
            Офисная мебель
        </a>
        <div class="category_body">
            <img src="img/trio_black_sr_big.jpg" alt="">
        </div>
    </div>
    <div class="catalog_category">
        <a href = "items?category=другая_продукция"class="category_name">
            Другая продукция
        </a>
        <div class="category_body">
            <img src="img/dr.jpg" alt="">
        </div>
    </div>
</section>