<section class="contacts_section">
    <h1>
        Контакты 
    </h1>
    <div class="contacts_block">
        <a target = "_blank" href="https://yandex.ru/maps/-/CCUB4VvfHC">
            <div class="location">
                <img src="img/location.svg" alt=""> 
                <h2>г. Нижний Новгород, ул. Романтиков, д.14</h2>
            </div>
            <div class="phoneandmail">
                <a target = "_blank" href="tel:+78314235186">
                    <div class="phone">
                        <img src="img/phone.svg" alt="">
                        <h2>+7 (831) 423-51-86</h2>
                    </div>
                </a>
                <a target = "_blank" href="mailto:glessnn@yandex.ru">
                    <div class="mail">
                        <img src="img/mail.svg" alt="">
                        <h2>glessnn@yandex.ru</h2>
                    </div>
                </a>
            </div>
            <div class="time">
                <img src="img/time.svg" alt="">
                <h2>График работы: ПН-ПТ 8:00 - 17:00</h2>
            </div>
        </a>
    </div>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af374e4ba4d9b529059f7a799f9fc315a77685e94859f557040389e32816ddaa0&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>

</section>