<footer class="footer">
    <div class="footer_down">
        <div class="footer_left">
            <p class = "footer_info">
                Данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями пункта 1 статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь на glessnn@yandex.ru.
            </p>
            <p class = "footer_name" >© Общество с ограниченной ответственностью "Глесс"</p>
        </div>
        <div class="footer_right">
            <a target = "_blank" href="https://vk.com/glessnn"><img src="img/VK_icon.svg" alt=""></a>
            <a target = "_blank" href="https://t.me/gless_nn"><img src="img/Telegram_icon.svg" alt=""></a>
        </div>
    </div>
</footer>   
<script src="js/hamburger.js"></script>