<section class="gallery_section">
    <a data-fslightbox="gallery" href="img/14-43.jpg">
        <img class = "main_img" src="img/14-43.jpg" alt="">
    </a>
    <a data-fslightbox="gallery" href="img/14-49.jpg">
        <img class = "main_img" src="img/14-49.jpg" alt="">
    </a>
    <a data-fslightbox="gallery" href="img/14-50.jpg">
        <img class = "main_img" src="img/14-50.jpg" alt="">
    </a>
    <a data-fslightbox="gallery" href="img/14-51.jpg">
        <img class = "main_img" src="img/14-51.jpg" alt="">
    </a>
    <a data-fslightbox="gallery" href="img/14-52.jpg">
        <img class = "main_img" src="img/14-52.jpg" alt="">
    </a>
    <a data-fslightbox="gallery" href="img/14-53.jpg">
        <img class = "main_img" src="img/14-53.jpg" alt="">
    </a>
    <a data-fslightbox="gallery" href="img/14-54.jpg">
        <img class = "main_img" src="img/14-54.jpg" alt="">
    </a>
</section>  