<section class="index_section">
    <h1>
        ГЛЕСС<br>
        МЕТАЛЛИЧЕСКАЯ МЕБЕЛЬ, СТЕЛЛАЖИ, СЕЙФЫ, ВЕРСТАКИ...
    </h1>
    <div class="main_sales">
        <div class="sales_slider">
            <div class="sales_slider_wrapper">
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="">
                                <img src="img/sl1.jpg" class = "sales_img" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="">
                                <img src="img/sl2.jpg" class = "sales_img" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
            
                
                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div> 
            </div>
        </div>
        <div class="items_of_the_day_section">
            <div>
                <div class="item_of_the_day item_of_the_day_print">
                    <div class="item_id" hidden>
                        8693
                    </div>
                    <h4>ТОВАР ДНЯ!!!</h4>
                    <a href = "search_result?search=Огневзломостойкий+сейф+VALBERG+ГАРАНТ+67+T" class="img_item_block">
                        <img src="https://www.safe.ru/upload/iblock/a78/a78c46b31b62c3a433df22b4b7244170.jpg" alt="">
                    </a>
                    <div class="sale_size">
                        <div class="text_sale">
                            Скидка
                        </div>
                        <div class="sale_per">
                            -24%
                        </div>
                    </div>
                    <div class="rev_col">
                        Отзывы: 0
                    </div>
                    <div class="main_item_block">
                        <div class="price">
                            <div class="real_price">
                                47250
                            </div>
                            <div class="price_wo_sale"> 
                                62012 
                            </div>
                        </div>
                        <div class="to_cart">
                            <button class = "cart_sh">
                                <img src="img/shopping-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="item_name">
                        <h3>Огневзломостойкий сейф VALBERG ГАРАНТ 67 T</h3>
                    </div>
                </div> 
            </div>
            <div>
                <div class="item_of_the_day item_of_the_day_print">
                    <div class="item_id" hidden>
                        8628
                    </div>
                    <h4>ТОВАР ДНЯ!!!</h4>
                    <a href = "search_result?search=Стеллаж+металлический+MS+Standart+220%2F100x60%2F6" class="img_item_block">
                        <img src="https://www.safe.ru/upload/iblock/82c/MS-standart_big.jpg" alt=""> 
                    </a>
                    <div class="sale_size">
                        <div class="text_sale">
                            Скидка
                        </div> 
                        <div class="sale_per">
                            -40%
                        </div>
                    </div>
                    <div class="rev_col">
                        Отзывы: 0
                    </div>
                    <div class="main_item_block">
                        <div class="price">
                            <div class="real_price">
                                7717,5
                            </div>
                            <div class="price_wo_sale"> 
                                12931
                            </div>
                        </div>
                        <div class="to_cart">
                            <button class = "cart_sh">
                                <img src="img/shopping-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="item_name">
                        <h3>Стеллаж металлический MS Standart 220/100x60/6</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages_section">
        <div class="advantage">
            <img src="img/carbon_delivery.svg" alt="">
            <h3>Быстрая доставка по всей России</h3>
        </div>
        <div class="advantage">
            <img src="img/bi_shop.svg" alt="">
            <h3>Гарантия от нашего магазина</h3>
        </div>
        <div class="advantage">
            <img src="img/sale.svg" alt="">
            <h3>Скидки новым покупателям</h3>
        </div>
        <div class="advantage">
            <img src="img/ant-design_mail-filled.svg" alt="">
            <h3>Подпишитесь на рассылку и получите дополнительную скидку</h3>
        </div>
        <div class="advantage">
            <img src="img/entypo_price-ribbon.svg" alt="">
            <h3>Работа с юр.лицами на индивидуальных условиях</h3>
        </div>
    </div>
    <div class="popular_categories">
        <h2>Популярные Категории</h2>
        <div class="categories_slider_wrapper">
            <!-- Slider main container -->
            <div class="swiper-category">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="items?category=сейфы">
                            <div class="category">
                                <img src="img/safe.jpg" alt="">
                                <h3>Сейфы</h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="items?category=металлические_стеллажи">
                            <div class="category">
                                <img src="img/stellazi.jpg" alt="">
                                <h3>Металлические стеллажи</h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="items?category=металлическая_мебель">
                            <div class="category">
                                <img src="img/mm.jpg" alt="">
                                <h3>Металлическая мебель</h3>
                            </div>  
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="items?category=медицинская_мебель_и_изделия">
                            <div class="category">
                                <img src="img/11bd5c6a0f0980c410798e781412a408.jpg" alt="">
                                <h3>Медицинская мебель и изделия</h3> 
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="items?category=производственная_мебель">
                            <div class="category">
                                <img src="img/profi_203_big.jpg" alt="">
                                <h3>Производственная мебель</h3> 
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="items?category=офисная_мебель">
                            <div class="category">
                                <img src="img/trio_black_sr_big.jpg" alt="">
                                <h3>Офисная мебель</h3> 
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="items?category=другая_продукция">
                            <div class="category">
                                <img src="img/dr.jpg" alt="">
                                <h3>Другая продукция</h3>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="big_sales_section"> 
        <h2 style = "color: #B90C0C;">Наши лучшие предложения</h2> 
        <div class="big_sales_slider_wrapper">
            <!-- Slider main container -->
            <div class="swiper-sales"> 
                <!-- Additional required wrapper --> 
                <div class="swiper-wrapper">
                    <!-- Slides --> 
                    <div class="swiper-slide"> 
                        <div class="sale_item">
                            <div class="sale_id" hidden>
                                9051
                            </div>
                            <a href="search_result?search=Медицинский+шкаф+HILFE+МД+1+1650%2FSG">
                                <img src="https://www.safe.ru/upload/iblock/840/840695c46a39bfd658a850183d7d4e59.jpg" alt="" class = "sale_img">
                            </a>
                            <h3 class="sale_name">Медицинский шкаф HILFE МД 1 1650/SG</h3>    
                            <div class="sale_price">
                                <p class = "real_sale_price">17830</p>
                                <p class="w_o_sale_price">19830</p>
                                <div class="to_cart_sale" id = "to_cart_sale">
                                    <button class = "to_cart_sale">
                                        <img src="img/cart_2.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sale_item">
                            <div class="sale_id" hidden>
                                9337
                            </div>
                            <a href="search_result?search=Верстак+Garage+№114">
                                <img src="https://www.safe.ru/upload/iblock/828/Garage114_big.jpg" alt="" class = "sale_img">
                            </a>
                            <h3 class="sale_name">Верстак Garage №114</h3>    
                            <div class="sale_price">
                                <p class = "real_sale_price">8446</p>
                                <p class="w_o_sale_price">9456</p>
                                <div class="to_cart_sale" id = "to_cart_sale">
                                    <button class = "to_cart_sale">
                                        <img src="img/cart_2.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sale_item">
                            <div class="sale_id" hidden>
                                8699
                            </div>
                            <a href="search_result?search=Огневзломостойкий+сейф+VALBERG+ГАРАНТ+49+EL">
                                <img src="https://www.safe.ru/upload/iblock/28e/28eaa39b4e9a5fb6efac6ec67c940b2c.jpg" alt="" class = "sale_img">
                            </a>
                            <h3 class="sale_name">Огневзломостойкий сейф VALBERG ГАРАНТ 49 EL</h3>    
                            <div class="sale_price">
                                <p class = "real_sale_price">33750</p>
                                <p class="w_o_sale_price">35420</p>
                                <div class="to_cart_sale" id = "to_cart_sale">
                                    <button class = "to_cart_sale">
                                        <img src="img/cart_2.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sale_item">
                            <div class="sale_id" hidden>
                                8615
                            </div>
                            <a href="search_result?search=Стеллаж+MS+Standart+185KD%2F70x30%2F4">
                                <img src="https://www.safe.ru/upload/iblock/9fb/ms-standart-185kd-70x30-4_big1.jpg" alt="" class = "sale_img">
                            </a>
                            <h3 class="sale_name">Стеллаж MS Standart 185KD/70x30/4</h3>    
                            <div class="sale_price">
                                <p class = "real_sale_price">3362</p>
                                <p class="w_o_sale_price">3400</p>
                                <div class="to_cart_sale" id = "to_cart_sale">
                                    <button class = "to_cart_sale">
                                        <img src="img/cart_2.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <div class="sales_mail_section">
        <a href="404">
            <div class="sales_poster">
                <button class="sales_poster_button">
                    Все акции
                </button>
                <h5>
                    Найдите наши лучшие предложения в разделе АКЦИИ
                </h5>
                <img src="img/muzhik.png" class = "man" alt="">
            </div>
        </a>
        <div class="mail_sales">
            <div class="mail_sales_top">
                <p>Подпишитесь на рассылку
                    <span class = "span_opa">и получайте индивидуальные
                    предложения!</span></p>
                <img src="img/clarity_notification-solid.svg" alt="">
            </div>
            <div class="mail_sales_bottom">
                <form action="" method="post">
                    <input type="email" name="user_mail" id="" placeholder="Email" class = "sales_email" required>
                    <input type="submit" value="" class = "email_sales_submit">
                </form>
            </div>
        </div>
    </div>
    <div class="our_clients_section">
        <div class="our_clients" id = "our_clients">
            <div class="our_clients_top">
                <h2>Наши клиенты:</h2>
                <a href="">
                    <div class="thank_you_notes">
                        Благодарственные письма
                    </div>
                </a>
            </div>
            <div class="our_clients_bottom">
                <div class="clients_slider_wraper">
                                <!-- Slider main container -->
            <div class="swiper-clients"> 
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                    
                            <div class="client">
                                <img src="img/sber.png" alt="">
                            </div>
                    </div>
                    <div class="swiper-slide">
                        
                            <div class="client">
                                <img src="img/gerb_cdep.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                    
                            <div class="client">
                                <img src="img/gpb.png" alt="">
                            </div>
                    </div>
                    <div class="swiper-slide">
                    
                            <div class="client">
                                <img src="img/smp.png" alt="">
                            </div>
                    </div>
                    <div class="swiper-slide">
                    
                            <div class="client">
                                <img src="img/zSuiYp4YS3SrqOW3UNFl.png" alt="">
                            </div>
                    </div>
                    <div class="swiper-slide">
                    
                            <div class="client">
                                <img src="img/aviaser.png" alt="">
                            </div>
                    </div>
                    <div class="swiper-slide">
                    
                            <div class="client">
                                <img src="img/my_docs_header.png" alt="">
                            </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </div>
    <div class="news_section">
        <div class="news_section_block">
            <h2>ПОЛЕЗНЫЕ СТАТЬИ</h2>
            <div class="news_slider_wrapper">
            <!-- Slider main container -->
            <div class="swiper-news"> 
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="">
                            <div class="new">
                                <img src="img/new_5.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="new">
                                <img src="img/new_6.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="new">
                                <img src="img/new_7.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="new">
                                <img src="img/new_5.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="new"> 
                                <img src="img/new_6.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="new">
                                <img src="img/new_7.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</section>