.payment_section{
    padding: 40px;
}

h1{
    font-size: 35px;
    color: #525882;
    margin-bottom: 40px;
}
.payment_methods{
    display: grid;
    grid-template-columns: calc(70% - 50px) 30%;
    height: 580px;
    grid-gap: 50px;
    margin-bottom: 50px;
}
.payment_img{
    background-image: url(../img/pay1.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.method{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.methods{
    display: flex;
    justify-content: space-between;
}
.method_desc{
    height: 425px;
    border-radius: 20px;
    background-color: #3C5762;
    display: flex;
    align-items: center;
    justify-content: center;
}
.method_desc img{
    width: 90%;
}
.method_name{
    height: 120px;
    width: 100%;
    background-color: #525882;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_method{
    background-color: #525882;
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 100px;
} 
h2{
    font-size: 35px;
}
.method_text h2{
    margin-bottom: 50px;
}
.method_video iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.method_reverse{
    background-color: #fff; 
    color: #525882;
}
.method_reverse .method_text{
    order: 2;
}
.next h2{
    font-size: 3vw;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #525882;
}
.next_main_section{
    background-color: #525882;
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
    color: #fff;
}
.question{
    display: flex;
    font-size: 23px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.answer{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px; 
    visibility: hidden;
    opacity: 0; 
    padding: 0;
    transition: all 0.2s ease;
}
.ques_img{
    cursor: pointer;
    transition: all 0.2s ease;
}
.active{
    padding-top: 20px;
    padding-bottom: 20px; 
    visibility: visible;
    opacity: 1;
}
.img_active{
    transform: rotate(90deg);
}

@media screen and (max-width: 1441px){
    .payment_methods{
        height: 500px;
    }
    .method_desc{
        height: 350px;
    }
    .method_name{
        font-size: 16px;
    }
}
@media screen and (max-width: 1220px){
    h2{
        font-size: 30px;
    }
}
@media screen and (max-width: 1050px){
    .payment_methods{
        height: 400px;
    }
    .method_desc{
        height: 250px;
    }
    .next h2{
        font-size: 35px;
    }
}
@media screen and (max-width: 820px){
    .card_method{
        grid-template-columns: unset;
    }
    .method_video{
        height: 300px;
    }
    .reverse{
        order: 2;
    }
    .payment_methods{
        grid-template-columns: unset;
        height: auto;
    }
    .method_desc{
        margin-bottom: 30px;
    }
    .payment_img{
        display: none;
    }
}
@media screen and (max-width: 720px){
    .payment_section{
        padding: 20px;
    }
    .card_method,.next_main_section{
        margin-right: -20px;
        margin-left: -20px;
    }
}
@media screen and (max-width: 580px){
    .methods{
        flex-direction: column;
        align-items: center;
    }
    .method{
        width: 70%;
        margin-bottom: 30px;
    }
    .method_desc{
        height: auto;
        padding: 20px;    
    }
}
@media screen and (max-width: 400px){
    .method{
        width: 90%;
        margin-bottom: 30px;
    }
}